* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bir {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 30px;

    .card {
        border: 0;
    }

    h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.30000001192092896px;
        text-align: center;

    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;

    }

    img {
        width: 100%;
        padding: 40px;
    }

}

@media (max-width: 1000px) {
    .bir {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 30px;

        .card {
            border: 0;

            br {
                display: none;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.30000001192092896px;
            text-align: center;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;

        }

        img {
            width: 100%;
            padding: 35px;
        }

    }
}

@media (max-width: 770px) {
    .bir {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 30px;

        .card {
            border: 0;
            text-align: center !important;

            br {
                display: none;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.30000001192092896px;
            text-align: center;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;

        }

        img {
            max-width: 150px;
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 30px;
        }

    }
}

@media (max-width: 600px) {
    .bir {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 30px;

        .card {
            border: 0;

            br {
                display: none;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.30000001192092896px;
            text-align: center;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;

        }

        img {
            width: 100%;
            padding: 25px;
        }

    }
}

h1 {
    text-align: center;
    padding: 40px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.s-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;

}

.s-right {
    a {
        color: #067A46;
    }
}

.s-left img {
    width: 100% !important;
}

@media (max-width: 1000px) {
    .s-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 0;
    }

    .s-right {
        padding: 50px 0;

    }
}

.main-1 {
    text-align: center;

    img {
        width: 100%;
    }

    h1 {
        font-weight: 400;
        font-size: clamp(1rem, 0.659rem + 1.7vw, 1.938rem);
    }

    p {
        font-weight: 400;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
    }
}

@media (max-width: 750px) {
    .main-1 {
        text-align: center;

        img {
            width: 100%;
        }

        h1 {
            font-weight: 400;
            font-size: clamp(1rem, 0.659rem + 1.7vw, 1.938rem);
        }

        p {
            font-weight: 400;
            font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        }
    }
}



.s1 {
    font-size: 31px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;

}

.s2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

.ikki {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;

    .card {
        border: 0;
    }

    h5 {
        padding: 10px;
    }

    img {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .ikki {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .card {
            border: 0;
        }

        img {
            width: 100%;
        }
    }
}

@media (max-width: 700px) {
    .ikki {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .card {
            border: 0;
        }

        img {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .ikki {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .card {
            border: 0;
        }

        img {
            width: 100%;
        }
    }
}

.main-2 {
    text-align: center;

    img {
        width: 100%;
    }
}

.uch {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    border: 0;
    text-decoration: none;

    a {
        color: #067A46;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;

    }

}

@media (max-width: 1200px) {
    .uch {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        border: 0;
        text-decoration: none;

        a {
            color: #067A46;
        }

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;

        }

    }
}

@media (max-width: 1000px) {
    .uch {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        border: 0;
        text-decoration: none;

        a {
            color: #067A46;
        }

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;

        }

    }
}

@media (max-width: 700px) {
    .uch {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        border: 0;
        text-decoration: none;

        a {
            color: #067A46;
        }

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;

        }

    }
}

@media (max-width: 600px) {
    .uch {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        border: 0;
        text-align: center;
        text-decoration: none;

        a {
            color: #067A46;
        }

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            text-align: center;
        }

    }
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        text-decoration: none;
    }
}

.f-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 30px;
    text-decoration: none;

    a {
        color: #067A46;
    }
}

@media (max-width: 1200px) {
    .f-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px;
        text-decoration: none;

        a {
            color: #067A46;
        }
    }
}

@media (max-width: 750px) {
    .f-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 30px;
        text-decoration: none;
        text-align: center;

        a {
            color: #067A46;
        }
    }
}

.nol {
    max-width: 457.5px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: #067A46;
    color: white;
    border: none;
    margin: 20px 0;
}